{{define "ceoTemplate"}}
{{template "header"}}
<h1>Luc Marrie - CEO</h1>
<div>
    <img src="https://media-exp1.licdn.com/dms/image/C5603AQHo7b1le8hspQ/profile-displayphoto-shrink_200_200/0/1581875098240?e=1618444800&v=beta&t=athdpLnbQuSlGlNlh2TW0LCsY_nnDsMsDlNJ5vX7Da8" alt="Luc Marrie">
</div>
<p>Luc Marrie is Chief Executive Officer of Luc&#39;s Electronics. Before being named CEO in March 2021, Luc held leadership roles in both Hitchhikers and Platform Services at Yext.</p>

<p>Joining Yext in 2020, he quickly became known as a leader who could span a breadth of technologies and businesses to transform some of Yext&#39;s biggest product offerings.</p>

<p>Most recently, Luc  was executive vice president of Brian Leveque&#39;s AFT team. In this role he led the transformation of AFT deliveries, which outperformed the market and took share from competition.</p>

<p>Originally from Yamaguchi, Japan, Luc now lives in East Village, Manhattan. He earned a bachelor’s degree in computer science and mathematics from Colby College. Luc also serves on the board of directors to SweetGreen Salads.</p>
{{end}}