---
{
    "streamId": "pages-city-stream",
    "urlFormat": "{{.c_slug}}"
}
---

{{define "city.tmpl" -}}
<html>
    <body>
      <h1> Welcome to - {{.name}} - 
        {{ range .c_parents }}
          <a href="/{{ .c_slug }}">{{ .name }}</a>
        {{ end }}
      </h1>

      <p> <h2> Other locations in this city: </h2> 
      {{ range .c_children }}
            <li><a href="/{{ .c_slug }}">{{ .name }}</a></li>
      {{ end }}

    </p>


    </body>
</html>
{{end}}
