{{define "city.url" -}}
{{.externalEntityId}}.html
{{- end}}


{{define "city.source" -}}
<html>
    <body>
        <h1> Welcome to - {{.name}}, {{.c_parents}} </h1>
        <p>{{range .c_children }}
            {{.name}}
            {{end}}</p>
    </body>
</html>
{{end}}
