{{define "location.url" -}}
{{.externalEntityId}}.html
{{- end}}
{{define "location.source" -}}
<html>
    <body>
        <h1> Welcome to Luc's Electronics - {{.name}}</h1>
        <p>{{.address}}</p>
        <p>Hours: {{.hours}}</p>
    </body>
</html>
{{end}}

{{define "city.url" -}}
{{.externalEntityId}}.html
{{- end}}
{{define "city.source" -}}
<html>
    <body>
        <h1> Welcome to {{.name}}, {{.c_parents.name}}</h1>
        <h2> Parents: {{.c_parents}} </h2>
        <h2> Parents Index 0: {{index .c_parents 0}}</h2>
        <h2> Children: {{.c_children}} </h2>
        <h2> Children Index 0: {{index .c_children 0}}</h2>
        <h2> Parent Entity ID: {{.c_parents.externalEntityId}} </h2>
        <h2> Parent Name: {{.c_parents.name}} </h2>
        {{range .c_children}}
             <h3 class="child"> children.name {{.c_children.name}} </h3>
             <h3 class="name"> name {{.name}} </h3>
             <h3 class="child"> children .name {{.c_children .name}} </h3>
        {{end}}
    </body>
</html>
{{end}}
