---
{
    "streamId": "pages-state-stream",
    "urlFormat": "{{.c_slug}}"
}
---

{{define "state.tmpl" -}}
<html>
    <body>
        <h1> Welcome to the beautiful state of {{.name}}</h1>

        <p> Cities in this state: 
            {{ range .c_children }}
                <li><a href="/{{ .c_slug }}">{{ .name }}</a></li>
            {{ end }}
        </p>

    </body>

</html>
{{end}}
