---
{
    "streamId": "pages-state-stream",
    "urlFormat": "{{.c_slug}}"
}
---

{{define "state.tmpl" -}}
<html>
    <body>
        <h1> Welcome to - {{.name}}</h1>

        <p>
        {{ range $key, $value := .c_parents}}
          <li><strong>{{ $key }}</strong>: {{ $value }}</li>
          <li> {{.name}} </li>
        {{end}}
        </p>

        <p>
        <h3> Other cities in this state:</h3>
        <p>
        {{ range $key, $value := .c_children}}
          <li><strong>{{ $key }}</strong>: {{ $value }}</li>
          <li> {{.name}} </li>
        {{end}}
        </p>
        </p>

    </body>
</html>
{{end}}
